[submodule "themes/academic"]
	path = themes/academic
	url = https://github.com/gcushen/hugo-academic.git
[submodule "modules/islab-website"]
	path = modules/islab-website
	url = https://github.com/ids-cv/islab-website.git
