name: Deploy preview with rsync

on:
  push:
    branches:
      - dev

jobs:
  deploy:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.8]

    steps:
      - uses: actions/checkout@v2
        with:
          submodules: true  # Fetch Hugo themes
          fetch-depth: 0    # Fetch all history for .GitInfo and .Lastmod

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install academic
        run: |
          pip install -U academic

      - name: Setup Hugo
        uses: peaceiris/actions-hugo@v2
        with:
          hugo-version: '0.74.1'
          extended: true

      - name: Import
        run: bash ./update_content.sh
        
      - name: Build
        run: hugo --minify --gc -b http://www.ids.osaka-u.ac.jp/test/preview/${{ github.sha }}

      - name: SSH key preparation
        run: echo "{{ $secrets.SSH_KEY}}" > key && chmod 600 key
      - name: Deploy with rsync
        run: rsync -avz --dry-run --delete -e "ssh -i key" ./public/* {{ $secrets.SSH_USER }}@{{ $secrets.SSH_SERVER }}:{{ $secrets.REMOTE_PATH}}/test/preview/${{ github.sha }}/
      - name: Output URL
        run: echo http://www.ids.osaka-u.ac.jp/test/preview/${{ github.sha }}
